@import "tailwindcss";

@keyframes pulse-ubicacion {
  0%   { box-shadow: 0 0 0 2px #3B82F6, 0 0 0 4px rgba(59,130,246,0.4); }
  50%  { box-shadow: 0 0 0 2px #3B82F6, 0 0 0 12px rgba(59,130,246,0); }
  100% { box-shadow: 0 0 0 2px #3B82F6, 0 0 0 4px rgba(59,130,246,0.4); }
}
